queries.txt 
*~
*.orig
*.pyc
*.rej
*.jpg
*.jpeg
*.png
.installed.cfg
__minitage__*
bin/*
develop-eggs
downloads
eggs
log
parts
images
media/uploads
tmp
.DS_Store
settings.py
queries.txt 

static/.sass-cache
static/.sass-cache/*

static/config.rb