/*
-----------------------------------------------
Form styles
-----------------------------------------------
*/

form {
	font-size: 100%;
	position: relative;
	text-align: left;

	fieldset {
		margin: 0;
		padding: 0;
		width: 100%;
	}
	fieldset legend {
		border: 0;
		border-bottom: 1px solid #ccc;
		float: left;
		font-size: 150%;
		font-weight: bold;
		margin: 0 0 15px;
		*margin-left: -7px;
		padding: 0 0 3px;
		white-space: normal;
	}
}
legend span {
	display: block;
	width: 461px;
}
.field label,
.field .label,
form label {
	float: left;
	margin-right: 1em;
	width: 12em;
}

.introduction {
	font-size: 110%;
	padding-bottom: 1.5em;
}

.field {
	clear: left;
	margin: 0.75em 0;
	padding: 0.2em;
}

.text input,
.textarea textarea,
.password input,
.email input,
.url input,
.decimal input,
.integer input,
.select input,
input[type="text"],
input[type="textarea"] {
	border: 1px solid #999;
	color: #333;
	font-size: 100%;
	height: 1.2em;
	padding: 0.15em;
}
.decimal input,
.integer input {
	width: 4em;
}
.textarea textarea,
input[type="textarea"] {
	height: 7.5em;
	width: 24em;
}
form .field input,
form .textarea textarea,
form .select select,
input[type="text"],
input[type="textarea"] {
	background: #fff url(../images/core/forms_fieldbg.gif) repeat-x 0 0;
	border-bottom: 1px solid #dadada;
	border-left: 1px solid #b4b4b4;
	border-right: 1px solid #b4b4b4;
	border-top: 1px solid #727272;
	font-size: 100%;
	padding: 3px;
	width: 50%;
}
form .select select,
select{
	padding: 2px;
	width: auto;
}
form .postcode input {
	width: 20%;
}
form .telephone input,
form .mobile input,
form .fax input {
	width: 30%;
}
form .help {
	color: #888;
	font-size: 0.8em;
	line-height: 1.8em;
	margin-left: 16.25em;
	padding-bottom: 0;
}
.field.required .required,
.introduction .required {
	color: #c12;
}
.field .optional,
.introduction .optional {
	color: #888;
}
.field.error input,
.select.error select,
.textarea.error textarea {
	background: #FFF1ED;
	border: 2px solid #ED2F07;
}
form .required label span,
.required_info span {
	color: #cc0000;
	font-size: 1.143em;
	font-weight: bold;
	line-height: 120%;
}
.errors {
	color: #E9602A;
	font-weight: bold;
}
.error_summary {
	background: #FFEBEB;
	border: 1px solid #FFCCCC;
	color: #b12;
	margin-left: -1px;
	margin-top: -2px;
	padding: 0.375em;
}
.error_summary p {
	padding: 0;
}
.field.error .errors {
	color: #b12;
	margin-left: 13em;
}
.error_summary li {
	list-style: disc;
	margin-left: 2em;
}
.required_info {
	color: #666;
	font-size: 0.929em;
	padding-left: 10px;
	position: absolute;
	right: 0;
	text-align: right;
	top: 0;
}
.date_dropdowns,
.date_dropdowns div {
	float: left;
}
.date_dropdowns div label {
	color: #888;
	font-size: 0.8em;
	line-height: 1.8em;
}
.date_dropdowns .day {
	width: 4em;
}
.date_dropdowns .month {
	width: 4em;
}
.date_dropdowns .year {
	width: 4em;
}

.checkboxes_widget,
.radios_widget,
.boolean_widget {
	margin-left: 13em;
}
.checkboxes_widget li label,
.radios_widget li label {
	float: none;
}
.boolean_widget li label {
	width: 5em;
}
.checkboxes_widget li label input,
.radios_widget li label input,
.boolean_widget li label input {
	float: none;
	margin-right: 0.5em;
}

/* Right Aligned */
.form_rightaligned .field label,
.form_rightaligned .field .label {
	text-align: right;
}
.form_rightaligned .field .optional,
.form_rightaligned .introduction .optional {
	display: block;
}

/* Top Aligned */
.form_topaligned .field label,
.form_topaligned .field .label,
.form_topaligned .textarea label,
.form_topaligned .textarea .label {
	display: block;
	float: none;
	line-height: 120%;
	margin-right: 0;
	padding-bottom: 0.15em;
	width: 100%;
}
.form_topaligned .field .help {
	margin-left: 0;
}
.form_topaligned .field {
	margin: 0;
	padding: 0 0 0.375em 0;
}
.form_topaligned .dropdown {
	margin-bottom: 0.7em;
}
.form_topaligned .field .help,
.form_topaligned .textarea .help {
	margin: 0;
	padding-top: 0.3em;
}
.form_topaligned .button,
.form_topaligned input.button {
	margin-left: 0;
}

/* Specific Cases */
.checklist_column {
	float: left;
	margin-bottom: 1em;
	width: 140px;
}
.checklist_item {
	display: block;
	padding-bottom: 5px;
}
.form_topaligned .checklist_column .checklist_item label {
	display: inline;
	vertical-align: middle;
}
.form_topaligned .checklist_column .checklist_item input {
	margin-right: 3px;
	vertical-align: middle;
}