<!DOCTYPE html>
<head>
	<title>Thanksfor</title>
	<script src="{{ STATIC_URL }}/js/jquery.1.10.2.min.js"></script>
	<script src="{{ STATIC_URL }}/js/main.js"></script>
</head>
<body>
	<!-- http://safe.txmblr.com/theme/preview/8738 -->
	<h1>Thanks For</h1>

	<form enctype="multipart/form-data">
		<input name="docfile" type="file" />
		<input type="button" value="Upload" />
	</form>

	<div id="all-submisions">
	{% for submission in submissions %}
		<div class="image-submission">
			<p>{{ submission.created_at|date:"d F Y" }} · {{ submission.location }}</p>
			{% if submission.show_in_site %}
				<img src="{{ MEDIA_URL }}{{ submission.image }}">
			{% else %}
				<div class="blocked-imaged"></div>
			{% endif %}
		</div> 
	{% endfor %}
	</div>
</body>
</html>